%h1= @sprint.name

%p
  %b Description:
  = @sprint.description

%p
  %b Active:
  = @sprint.active

%p
  %b Start Date:
  = @project.start_date

%ul
  %li
    = link_to 'Sprint Backlog', project_sprint_user_story_sprint_mappings_path(@project, @sprint)
  %li
    = link_to 'Back', projects_path