- content_for :work_header_title do
  New Project
- content_for :work_header_actions do
  = button('Back', projects_path, :alternate, :normal)
  %input{ type: "submit", value: "Save", form: "new_project", class: button_class(:primary, :normal) }


= form_for @project do |f|
  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.label :status
    = f.select :status, Project.statuses.keys.map { |status| [status.humanize, status] }

  .field
    = f.label :start_date
    = f.date_select :start_date

