- content_for :work_header_title do
  = "Project #{@project.name}"
- content_for :work_header_actions do
  = button('Edit', edit_project_path(@project))
  = link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: button_class(:alternate, :normal)
  = button('Back', projects_path, :alternate, :normal)

%p
  %b Description:
  = @project.description

%p
  %b Status:
  = @project.status.humanize

%p
  %b Start Date:
  = @project.start_date

%ul
  %li
    = link_to 'User Stories', project_user_stories_path(@project)
  %li
    = link_to 'Sprints', project_sprints_path(@project)
