-# app/views/projects/show.html.haml

%h1= @project.name

%p
  %b Description:
  = @project.description

%p
  %b Status:
  = @project.status.humanize

%p
  %b Start Date:
  = @project.start_date

= link_to 'User Stories', project_user_stories_path(@project)
= link_to 'Sprints', project_sprints_path(@project)
= link_to 'Edit', edit_project_path(@project)
= link_to 'Back', projects_path