-# app/views/projects/show.html.haml

= render 'layouts/flash_messages'

%h1= @project.name

%p
  %b Description:
  = @project.description

%p
  %b Status:
  = @project.status.humanize

%p
  %b Start Date:
  = @project.start_date

= link_to 'Edit', edit_project_path(@project)
= link_to 'Back', projects_path