!!!
%html
  %head
    %title RubyRailsPostgres4
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "data-turbo-track" => "reload"
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    .flex
      %div{ id: 'nav_panel', class: 'w-1/4' }
        = render 'layouts/menu'
      %div{ id: 'work_panel', class: 'w-3/4' }
        = render 'layouts/header'
        = render 'layouts/flash_messages'
        = yield
